@import url("https://fonts.googleapis.com/css2?family=Explora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Explora&family=Sofia+Sans&display=swap");
:root {
  font-family: Helvetica, Arial, sans-serif, Explora, cursive;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
